<div class="ui secondary  menu">
  <div class="item">
    <%= link_to "Trips", root_path %>
  </div>
  <div class="item">
    <%= link_to "Add a trip", new_trip_path %>
  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      Logout
    </a>
  </div>
</div>